<!DOCTYPE HTML>
<html>
<head>
    <title>HackATank</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.17/socket.io.js"></script>

    <script type="text/javascript" src="game/network.js"></script>

    <script type="text/javascript" src="game/phaser.js"></script>
    <script type="text/javascript" src="game/CanvasInput.min.js"></script>
    <script type="text/javascript" src="game/map.js"></script>
    <script type="text/javascript" src="game/tank.js"></script>
    <script type="text/javascript" src="game/enemy.js"></script>
    <script type="text/javascript" src="game/crank.js"></script>
    <script type="text/javascript" src="game/lever.js"></script>
    <script type="text/javascript" src="game/game.js"></script>
    <script type="text/javascript" src="game/menu.js"></script>
    <script type="text/javascript" src="game/lobby.js"></script>
    <script type="text/javascript" src="game/welcome.js"></script>
    <script type="text/javascript" src="game/nickname.js"></script>
    <script type="text/javascript" src="game/credits.js"></script>
    <script type="text/javascript" src="game/main.js"></script>

    <script type="text/javascript" charset="utf-8">
        // respond to network events
        network_callbacks.game_room_did_join = function(game_id, players) {
            refreshPlayerNumber(players);
        };
        network_callbacks.game_room_update_join = function(player_id, player_name) {
            if (player_id != network_player.id) {
                setupPlayer1(network_player.id, player_id);
            }
        };
        // game data events
        network_callbacks.game_will_start = function() {
            console.log('Waiting to sync players');
            playerNumber = network_player.number;
            console.log("You ("+network_player.name+") are player "+playerNumber);
        };
        network_callbacks.game_did_start = function() {
            console.log('Game loaded and players synced');
        };
        network_callbacks.game_move_event = function(movement, rotation) {
            moveTank(movement, rotation);
        };
        network_callbacks.game_move_turret = function(angle) {
            moveTurret(angle);
        };
        network_callbacks.game_fire = function() {
            turretFire();
        };
        $(document).ready(function(){
            // init socket connection
            network_register_main();
            game_init();
        });
        function setupPlayer1(myID, otherPlayerID) {
            if (myID.localeCompare(otherPlayerID)) {
                network_player.number = 1;
            } else {
                network_player.number = 2;
            }
        }
        function refreshPlayerNumber (players) {
            if (players != undefined) {
                var player1 = undefined;
                $.each(players, function(player_id, player){
                    player.id = player_id;
                    if (player1 == undefined) {
                        player1 = player;
                        player1.number = 1;
                    } else {
                        if (String(player_id).localeCompare(String(player1.id))) {
                            player1.number = 2;
                            player1 = player;
                            player1.number = 1;
                        } else {
                            player.number = 2;
                        }
                    }
                });
                if (player1 != network_player) {
                    network_player.number = 2;
                }
            }
        }
    </script>
</head>
<body>
    <div id="game"></div>
</body>
</html>



